.logo {
    width: 200px;
    height: 200px;
    border-radius: 200px;
}

.header {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: -10px;
    background-color: #005ddb;
    color: white;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px 0 rgb(0, 85, 255);
}

.discription {
    font-size: 35px;
    color: rgb(210, 210, 210);
}
